<!DOCTYPE html>
<html class="text-gray-100 leading-7 bg-purple-800">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="Nexa Bitcoin Unlimited">
  <meta name="description" content="">

  <link rel="shortcut icon" href="/static/img/favicon.png">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Nexa Peer-to-Peer Digital Value System">
  <meta name="twitter:image" content="/static/img/social.png">

  <!-- Facebook -->
  <meta property="og:url" content="https://nexa.io/">
  <meta property="og:site_name" content="Nexa Peer-to-Peer Digital Value System">
  <meta property="og:title" content="Nexa Peer-to-Peer Digital Value System">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Nexa Peer-to-Peer Digital Value System">
  <meta name="og:image" content="/static/img/social.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <title>Nexa Peer-to-Peer Digital Value System</title>
</head>

<body>

  <!-- Navbar -->
  <div class="relative py-5 lg:py-8">
    <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
      <nav class="relative flex items-center justify-between" aria-label="Global">
        <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
          <div class="flex items-center justify-between w-full">
            <a href="/">
              <img class="h-10 w-auto" src="/static/img/logo.svg" width="174" height="40" alt="Nexa homepage">
            </a>
            <div class="flex items-center lg:hidden">
              <button type="button" class="p-2 inline-flex items-center justify-center text-white" aria-haspopup="true" id="openMenu">
                <span class="sr-only">Open main menu</span>
                {% include "icons/menu.svg" %}
              </button>
            </div>
          </div>
        </div>
        <div class="hidden items-center lg:flex lg:space-x-8">
          <a href="/properties" class="hover:text-gray-300">Properties</a>
          <a href="/tech" class="hover:text-gray-300">Tech</a>
          <a href="/connect" class="hover:text-gray-300">Connect</a>
          <!-- <a href="/news" class="hover:text-gray-300">News</a> -->
          <a href="/download" class="block py-2 px-6 text-yellow-300 font-bold bg-transparent border-2 border-yellow-300 -skew-10 hover:text-purple-900 hover:bg-yellow-300">
            <span class="block skew-10">Download</span>
          </a>
        </div>
      </nav>
    </div>
  </div>
  <!-- /Navbar -->

  {% block body %}{% endblock %}

  <footer class="py-12 bg-purple-900 md:py-16 lg:py-20">
    <div class="flex flex-wrap max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
      <div class="flex relative w-full mb-8 overflow-hidden lg:order-4 lg:w-2/5 lg:mb-0">
        <div class="w-full p-6 border-2 border-yellow-300 md:py-8 md:px-10 xl:py-10 xl:px-14">
          <div class="mb-4 text-2xl leading-7 font-medium">Sign up for our fascinating newsletter!</div>
          <form name="newsletter-footer" method="POST" data-netlify="true">
            <div>
              <input class="w-full mb-4 py-2 px-5 text-white bg-transparent border-2 border-yellow-300 md:w-4/5" name="email" id="email" placeholder="Enter your email..." type="email">
            </div>
            <div>
              <input class="w-4/5 mb-4 py-2 px-5 text-white bg-transparent border-2 border-yellow-300 md:w-3/5" name="name" id="name" placeholder="Enter your name..." type="text">
            </div>
            <div class="flex">
              <button class="py-2 px-8 pr-12 text-purple-900 text-lg font-bold bg-yellow-300">Sign Up</button>
             <div class="w-12 h-12 -ml-3 bg-purple-900 -skew-20"></div>
           </div>
          </form>
        </div>
        <div class="hidden absolute top-0 left-full w-full h-full -ml-16 bg-purple-900 border-l-2 border-yellow-300 -skew-20 md:block"></div>
      </div>
      <div class="w-full mb-8 md:w-1/3 lg:w-1/5">
        <div class="mb-4 text-2xl leading-7 font-medium">Connect</div>
        <ul>
          <li><a target="_blank" class="hover:text-gray-300" href="https://t.me/nexacoin">Telegram</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://twitter.com/nexamoney">Twitter</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://www.reddit.com/r/Nexa/">Reddit</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://www.facebook.com/nexa.org">Facebook</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://gitlab.com/nexa">Gitlab</a></li>
        </ul>
      </div>
      <div class="w-full mb-8 md:w-1/3 lg:w-1/5">
        <div class="mb-4 text-2xl leading-7 font-medium">Bitcoin Unlimited</div>
        <ul>
          <li><a target="_blank" class="hover:text-gray-300" href="https://forum.bitcoinunlimited.info/">BU Forum</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://t.me/bitcoinunlimit">BU Telegram</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://read.cash/@Bitcoin-Unlimited">BU Read.cash</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://www.youtube.com/channel/UCH03nTnxs3TLmbSHtm54B1g">BU Youtube</a></li>
          <li><a target="_blank" class="hover:text-gray-300" href="https://www.linkedin.com/company/bitcoinunlimited/">BU LinkedIn</a></li>
        </ul>
      </div>
      <div class="w-full mb-8 md:w-1/3 lg:w-1/5">
        <div class="mb-4 text-2xl leading-7 font-medium">Nexa</div>
        <ul>
          <li><a class="hover:text-gray-300" href="/properties">Properties</a></li>
          <li><a class="hover:text-gray-300" href="/tech">Tech</a></li>
          <li><a class="hover:text-gray-300" href="/connect">Connect</a></li>
        </ul>
      </div>
      <div class="text-gray-300 lg:order-5">All rights reserved B.U. Incorporated 2022</div>
    </div>
  </footer>

  {% include "menu.njk" %}

  <!-- JavaScript -->
  <script src="/static/js/scripts.js"></script>

</body>
</html>
