<div class="hidden absolute z-30 top-0 inset-x-0 transition transform origin-top-right text-white bg-purple-900 bg-opacity-90 overflow-hidden shadow shadow-md lg:hidden" id="menu">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="py-5 flex items-center justify-between">
      <div>
        <img class="h-10 w-auto" src="/static/img/logo.svg" width="174" height="40" alt="">
      </div>
      <div>
        <button type="button" class="text-white p-2 inline-flex items-center justify-center" id="closeMenu">
          <span class="sr-only">Close main menu</span>
          <!-- Heroicon name: x -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
      <div class="pb-5" role="none">

        <a href="/properties" class="block py-2 px-1 rounded-md text-base font-medium">Properties</a>
        <a href="/tech" class="block py-2 px-1 rounded-md text-base font-medium">Tech</a>
        <a href="/connect" class="block py-2 px-1 rounded-md text-base font-medium">Connect</a>
        <!-- <a href="/news" class="block py-2 px-1 rounded-md text-base font-medium">News</a> -->
        <a href="/download" class="block w-min mt-4 py-2 px-6 text-yellow-300 font-bold bg-transparent border-2 border-yellow-300 -skew-10 hover:text-purple-900 hover:bg-yellow-300">
          <span class="block skew-10">Download</span>
        </a>

      </div>
    </div>
  </div>
</div>
