@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-mega {
  filter: brightness(1) contrast(.4) sepia(1) hue-rotate(271deg) saturate(.5);
}

.filter-mega-parent:focus .filter-mega,
.filter-mega-parent:hover .filter-mega {
  @apply opacity-100;

  filter: brightness(1) contrast(.5) sepia(1) hue-rotate(10deg) saturate(3);
}

.offset-mega-parent:focus .offset-mega,
.offset-mega-parent:hover .offset-mega {
  @apply -mt-5 -ml-5;
}

/* Tailwind skew appears to be broken */
.-skew-20 {
  transform: skew(-20deg);
}

.-skew-10 {
  transform: skew(-10deg);
}

.skew-10 {
  transform: skew(10deg);
}

.skew-20 {
  transform: skew(20deg);
}

@media (min-width: 768px) {
  .md\:-skew-20 {
    transform: skew(-20deg);
  }
}

@media (min-width: 1024px) {
  .lg\:line-clamp-2  {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 1023px) {
  .offset-mega-parent:focus .offset-mega-news,
  .offset-mega-parent:hover .offset-mega-news {
    @apply -mt-3 -ml-3;
  }
}
