{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="pt-12 md:pt-16 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h1 class="mb-4 text-5xl md:text-6xl font-light uppercase">Download</h1>
  </div>
</section>
<!-- /Hero header -->

<!-- Features -->
<section class="py-24 pt-12 overflow-hidden md:py-32 md:pt-16 lg:py-40 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h2 class="sr-only">An app...</h2>
    <div>
      <div class="flex w-full font-medium border-r border-white overflow-hidden">
        <button class="flex w-full -ml-4 text-purple-900 text-center font-medium -skew-20">
          <span class="w-2/5 py-2 px-4 pl-8 bg-yellow-300 border border-yellow-300">
            <span class="block skew-20">1.0.0.0</span>
          </span>
          <span class="w-3/5 py-2 px-4 whitespace-nowrap bg-white border border-white">
            <span class="block skew-20 md:hidden">06.21.22</span>
            <span class="hidden skew-20 md:block">June 21st 2022</span>
          </span>
        </button>
        <a href="https://gitlab.com/nexa/nexa/-/blob/dev/README.md" class="hidden w-full py-2 px-4 text-center whitespace-nowrap border border-white border-l-0 -skew-20 md:block">
          <span class="block skew-20">Release Notes</span>
        </a>
        <a href="https://gitlab.com/nexa/nexa" class="hidden w-full py-2 px-4 text-center whitespace-nowrap border border-white border-l-0 -skew-20 md:block">
          <span class="block skew-20">Source Code</span>
        </a>
        <div class="flex items-center justify-center w-1/3 py-2 px-4 border-t border-white -skew-20 md:w-1/2">
          <span class="skew-20 md:hidden">
            <img class="h-4" src="/static/img/arrow-down.svg" width="21" height="20" alt="">
          </span>
          <span class="hidden skew-20 md:block">Details</span>
        </div>
      </div>
      <div class="lg:p-8 lg:border lg:border-t-0 lg:border-white">
        <div class="flex flex-wrap p-4 pb-12 text-center text-xs border border-t-0 border-white lg:p-0 lg:border-0">
          <div class="flex relative w-full mb-8 md:justify-end md:w-1/2 2xl:w-1/4">
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1">
                  <span>32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1">
                  <span>64-bit</span>
                </div>
              </div>
            </div>
            <div class="relative z-20 w-min md:pr-4 lg:pr-8">
              <div class="mb-1 text-base text-left font-medium md:text-center">OSX</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-osx.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-18">
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-osx.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href="" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-osx.dmg" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">DMG</a>
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-osx64.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">BIN</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex relative w-full mb-8 md:w-1/2 2xl:justify-center 2xl:w-1/4">
            <div class="relative z-20 w-min md:pl-4 lg:pl-8 2xl:px-2">
              <div class="mb-1 text-base text-left font-medium md:text-center">Windows</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-windows.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-27">
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-win64-setup.exe" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">EXE</a>
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-win64.zip" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">ZIP</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">6</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white 2xl:w-0">
                  <span class="2xl:hidden">32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white 2xl:w-0">
                  <span class="2xl:hidden">64-bit</span>
                </div>
              </div>
            </div>
          </div>
          <div class="flex relative w-full mb-8 md:justify-end md:w-1/2 2xl:justify-center 2xl:w-1/4">
            <div class="relative z-20 w-min md:pr-4 lg:pr-8 2xl:px-2">
              <div class="mb-1 text-base text-left font-medium md:text-center">Linux</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-linux.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-18">
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-linux64.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1 2xl:w-0">
                  <span class="2xl:hidden">32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white md:order-2"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white md:order-1 2xl:w-0">
                  <span class="2xl:hidden">64-bit</span>
                </div>
              </div>
            </div>
          </div>
          <div class="relative w-full mb-8 md:w-1/2 2xl:w-1/4">
            <div class="relative z-20 w-min md:pl-4 lg:pl-8">
              <div class="mb-1 text-base text-left font-medium md:text-center">ARM</div>
              <div class="flex border border-white">
                <div class="w-18 h-18 m-0.5 mr-0 bg-white">
                  <img src="/static/img/download-arm.png" width="72" height="72" alt="">
                </div>
                <div class="flex-grow p-0.5">
                  <div class="flex flex-wrap w-18">
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-arm32.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                    <a href="http://bitcoinunlimited.info/nexa/nexa-1.0.0.0-arm64.tar.gz" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">TAR</a>
                    <a href="#" class="flex items-center justify-center w-8 h-8 m-0.5 text-purple-900 font-medium bg-white">-</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute bottom-0 w-full pb-2.5 text-purple-900 font-medium">
              <div class="flex items-center mb-2.5">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white">
                  <span>32-bit</span>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-full border-b border-white"></div>
                <div class="flex items-center justify-center w-20 h-6 bg-white">
                  <span>64-bit</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="-mt-6 text-center lg:mt-8 lg:text-left">
          <div class="inline-block h-12 py-2 px-5 text-purple-900 text-xl leading-7 font-medium bg-white lg:ml-8">Signed Statement</div>
          <div class="-mt-6 p-12 pt-16 break-all text-sm text-left bg-purple-900 border-white border border-b-0"><code>
            { 'files': { 'nexa-1.0.0.0-arm32.tar.gz': 'e53c7a3c2270543b09f7272ebddbd1bbff79a85415b4edef36210d9b63440b4b',                                                                                        
             'nexa-1.0.0.0-arm64.tar.gz': 'aa1ad3d80deb41ffda3bbbcd738aab0bd708ebadce9e3aa31f63aa9b4fe2ae19',
             'nexa-1.0.0.0-linux64.tar.gz': '628581e53806b63e7bd704ef7c99a63c7bb0e7c0dec35f9183932e2be4b1eebd',
             'nexa-1.0.0.0-osx.dmg': '1c65524015a5a769443ed910093af197f6125284c1351c82ab3677f4b90cfd7d',
             'nexa-1.0.0.0-osx.tar.gz': 'c063b822d0b0f4ce04be375c8d94e1faf7407f51934dfba112fc7c1cbff76e45',
             'nexa-1.0.0.0-osx64.tar.gz': 'dbf46678136fc6222ce389f08397ff307ddc7ddc2349d0367783bf29893d5394',
             'nexa-1.0.0.0-win64-setup.exe': '0b939e5bf0056faa4fad6f1317bb63d70b62aae5388ec0e34a6d9d0d32185e0d',
             'nexa-1.0.0.0-win64.zip': '859ec7be68580f12871b7e62b5b23bf82ef265eca5975924189417c7549cf87d'},
  'program': 'nexa',
  'version': '1.0.0.0'}</code>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/3">
            <div class="p-2 text-center text-purple-900 font-semibold bg-white">Andrew Stone (thezerg)</div>
            <div class="break-all text-sm bg-purple-900 border-white border border-t-0">
              <div class="h-16 py-3 px-4">bitcoincash:qq9wwnuw4eukyh5g34ckg5vk4aaxnvr04vkspyv850</div>
              <div class="h-24 py-3 px-4 border-white border-t">GxujRbYvv4X/LVgtfZ7giWsMN/4gsm5t1i61OxqD8RC7JGApxYmMZw/beZWyuBBdPWqSFyMvLb75dZrvXa4x2WU=</div>
            </div>
          </div>
          <div class="w-full lg:w-1/3">
            <div class="p-2 text-center text-purple-900 font-semibold bg-white">Andrea Suisani (sickpig)</div>
            <div class="break-all text-sm bg-purple-900 border-white border border-t-0 lg:border-r-0 lg:border-l-0">
              <div class="h-16 py-3 px-4">nexa:qq72fm0ye6j5s2l2huwukdkk33cq3zf6gy8hujn9ss</div>
              <div class="h-24 py-3 px-4 border-white border-t">Hzs2Hgwe1o18wHONoY/Ap2jGjkSjHC9SlLVs+3bajYVKCwzOk4aSrfZJkz8ptnw4nS0YTZnCUZMM+Sx/5qfKcSA=</div>
            </div>
          </div>
          <div class="w-full lg:w-1/3">
            <div class="p-2 text-center text-purple-900 font-semibold bg-white">Greg Griffith (griffith)</div>
            <div class="break-all text-sm bg-purple-900 border-white border border-t-0">
              <div class="h-16 py-3 px-4">1Pcpj8sR5adRNMi8rZ1Zi7rg6GPqcmFHAz</div>
              <div class="h-24 py-3 px-4 border-white border-t">H1i17J4meLpqbWesp+nKu2tpxTSUAMUakvTGTprt65EGBvX8+pyPH1ZaayvzRwz2Du3QGiZ+Dopx50eWCwAg/T0=</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Features -->
{% endblock %}
