{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="pt-12 md:pt-16 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h1 class="mb-4 text-5xl md:text-6xl font-light uppercase">Nexa News</h1>
  </div>
</section>
<!-- /Hero header -->

<!-- Features -->
<section class="py-24 pt-12 overflow-hidden md:py-32 md:pt-16 lg:py-40 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h2 class="sr-only">Nexa Social Media</h2>
    <div class="flex flex-wrap">
      <a class="flex block relative w-full mb-12 filter-mega-parent offset-mega-parent" href="#">
        <div class="flex flex-col lg:h-52 lg:py-5 lg:pl-6 lg:pr-64 lg:border lg:border-white">
          <div class="flex absolute top-0 -right-4 h-16 lg:h-52 lg:-right-10">
            <div class="flex w-16 min-w-16 h-16 -ml-12 border border-white -skew-20 lg:w-52 lg:min-w-52 lg:h-52">
              <div class="flex w-full h-full -mt-2 -ml-2 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega offset-mega-news lg:-mt-4 lg:-ml-4">
                <div class="w-40 min-w-40 h-full -ml-10 bg-cover opacity-80 skew-20 filter-mega lg:w-80 lg:min-w-80" style="background-image: url('/static/img/test-img.jpg');"></div>
              </div>
            </div>
            <div class="w-8 h-full bg-purple-800 -skew-20 lg:w-20"></div>
          </div>
          <div class="flex items-center w-full h-16 p-4 text-base border border-white border-r-0 lg:order-4 lg:h-auto lg:p-0 lg:border-0">
            <span>TECHNICAL | 23.04.22 | <br class="lg:hidden"> <span class="whitespace-nowrap">PAUL CHURCH</span></span>
          </div>
          <div class="p-4 text-xl leading-7 font-medium border-l border-white lg:order-2 lg:mb-2 lg:p-0 lg:text-2xl lg:line-clamp-2 lg:border-0">BCHN Technical Bulletin 2021-12-23 (Evaluate Viability of Transaction Format or ID Change)</div>
          <div class="pr-4 pb-4 border-l border-white lg:order-3 lg:mb-2 lg:p-0 lg:pr-8 lg:line-clamp-2 lg:border-0">
            <div class="w-4/5 pt-4 border-t border-white lg:hidden"></div>
            <div class="pl-4 lg:p-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget egestas sapien. Nam fringilla dui quis magna efficitur, id laoreet nunc dignissim. Morbi aliquam augue dui, in mattis justo dapibus ac. Donec tempor, lorem id...</div>
          </div>
          <div class="flex lg:order-5 lg:absolute lg:bottom-6 lg:right-72">
            <div class="flex items-center h-12 px-8 pr-12 text-purple-900 text-lg font-bold bg-white lg:h-auto lg:p-0 lg:text-white lg:text-base lg:bg-transparent">Read more</div>
            <div class="w-12 h-full -ml-3 bg-purple-800 -skew-20"></div>
          </div>
        </div>
      </a>
    </div>
  </section>
  <!-- /Features -->
  {% endblock %}
