{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="pt-12 md:pt-16 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h1 class="mb-4 text-5xl md:text-6xl font-light uppercase">Properties</h1>
  </div>
</section>
<!-- /Hero header -->

<!-- Features -->
<section class="py-24 pt-12 overflow-hidden md:py-32 md:pt-16 lg:py-40 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-12 xl:grid-cols-3 xl:gap-16">
      <div>
        <div class="relative mb-8" style="padding-top: 100%">
          <img class="absolute inset-0 w-full h-full" src="/static/img/properties-max-21-million.svg" width="354" height="355" alt="">
        </div>
        <h2 class="mb-6 text-2xl leading-7 font-medium">Max 21 trillion NEX</h2>
        <p>Nexa will only ever have 21 trillion NEX, and each NEX can be sub-divided into 100 parts. This will provide enough supply for the whole world’s economy even when all 8 billion of us are using it.</p>
      </div>
      <div>
        <div class="relative mb-8" style="padding-top: 100%">
          <img class="absolute inset-0 w-full h-full" src="/static/img/properties-bitcoin-like-supply.svg" width="355" height="389" alt="">
        </div>
        <h2 class="mb-6 text-2xl leading-7 font-medium">Bitcoin-like Supply</h2>
        <p>The mining supply is initially set to mint 50 MEX (1,000,000 NEX) roughly every 10 minutes. The mining supply will halve roughly every 4 years until it reaches exactly 21 trillion NEX. You can relax safe in the knowledge that the supply will never be inflated beyond the planned schedule.</p>
      </div>
      <div>
        <div class="relative mb-8" style="padding-top: 100%">
          <img class="absolute inset-0 w-full h-full" src="/static/img/properties-fast-confirmations.svg" width="398" height="420" alt="">
        </div>
        <h2 class="mb-6 text-2xl leading-7 font-medium">Fast Confirmations</h2>
        <p>A rapid 2 minute block time is used to make the payment flow much smoother on Nexa. This means you can build applications that give access to your goods and services much more quickly. You’ll also have much shorter wait times when sending transactions to and from exchanges.</p>
      </div>
      <div>
        <div class="relative mb-8" style="padding-top: 100%">
          <img class="absolute inset-0 w-full h-full" src="/static/img/utxo-architecture.svg" data-src="/static/img/properties-utxo-architecture.svg" width="" height="" alt="">
        </div>
        <h2 class="mb-6 text-2xl leading-7 font-medium">UTXO Architecture</h2>
        <p>Nexa uses the UTXO architecture found in Bitcoin and other cryptocurrencies. This architecture allows massive scalability due to it being ‘embarrassingly parallel’. It also means that casual users of the network do not need to run a full node to receive a high level of security thanks for SPV technology.</p>
      </div>
      <div>
        <div class="relative mb-8" style="padding-top: 100%">
          <img class="absolute inset-0 w-full h-full" src="/static/img/properties-fair-launch.svg" width="328" height="183" alt="">
        </div>
        <h2 class="mb-6 text-2xl leading-7 font-medium">Fair Launch</h2>
        <p>Nexa was launched in a fair process where no coins were minted before launch and anyone could participate in the network from day one. This helps to make sure the network stays highly decentralized both technically and economically.</p>
      </div>
      <div>
        <div class="relative mb-8" style="padding-top: 100%">
          <img class="absolute inset-0 w-full h-full" src="/static/img/properties-native-tokens.svg" width="380" height="261" alt="">
        </div>
        <h2 class="mb-6 text-2xl leading-7 font-medium">Native Tokens</h2>
        <p>Nexa has advanced token functionality built directly into the protocol by default. That means creating, minting, and sending tokens is as easy as sending Nexa coins. This is achieved through ‘Group token’ technology developed by Bitcoin Unlimited, and is currently exclusive to Nexa.</p>
      </div>
      <div>
        <div class="relative mb-8" style="padding-top: 100%">
          <img class="absolute inset-0 w-full h-full" src="/static/img/properties-high-programmability.svg" width="380" height="261" alt="">
        </div>
        <h2 class="mb-6 text-2xl leading-7 font-medium">High Programmability</h2>
        <p>Nexa takes transaction scripting to the next level and offers functionality that competes with EVM chains without compromising on scalability or complexity. The future is exciting when looking at all tools and services now made possible directly on-chain on layer-1 with Nexa.</p>
      </div>
    </div>
  </div>
</section>
<!-- /Features -->
{% endblock %}
